<ion-header>
    <img class="title-image" alt="logo"   src="../../assets/img/logo.png" > 
</ion-header>


<ion-content>
    <div class="accordion vertical">
        <ul>
            <li>
                <input type="radio" id="radio-1" name="radio-accordion" checked="checked" />
                <label for="radio-1">Burgers</label>
                <div class="content">
                    <ion-grid>
                        <ion-row>
                          <ion-col>
                            <img src="../../assets/img/iconH1.jpg">
                            Hamburger
                            <p>
                                150g kofte, kivircik, domates, ketcap, mayonez 
                            </p>
                          </ion-col>
                          <ion-col>
                            <img src="../../assets/img/iconH1.jpg">
                            Chicken Burger
                            <p>
                              160g panelenmis tavuk gogusu, cheddar peyniri, kivircik, domates, mayonez
                            </p>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <img src="../../assets/img/iconH1.jpg">
                            Chicken Burger HOB/BBQ
                            <p>
                              160g panelenmis tavuk gogusu, cheddar peyniri, kivircik, domates, mayonez, BBQ Sos veya HOB sos 

                            </p>
                          </ion-col>
                          <ion-col>
                              <img src="../../assets/img/iconH1.jpg">
                              Chicken Burger Pesto
                              <p>
                                160g panelenmis tavuk gogusu, cheddar peyniri, kivircik, domates, mayonez, sebze filizi, pesto sos
                              </p>
                          </ion-col>
                          <ion-col>
                              <img src="../../assets/img/iconH1.jpg">
                              Veggie Burger
                              <p>
                                150g vejeteryan kofte - kinoa&kabak, kivircik, domates, kirmizi sogan, suzme yogurt, mayonez
                              </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                </div>
            </li>
            <li>
                <input type="radio" id="radio-2" name="radio-accordion" />
                <label for="radio-2">Extras</label>
                <div class="content">

                </div>
            </li>
            <li>
                <input type="radio" id="radio-3" name="radio-accordion" />
                <label for="radio-3">Sides</label>
                <div class="content">
                  
                </div>
            </li>
            <li>
                <input type="radio" id="radio-4" name="radio-accordion" />
                <label for="radio-4">Dogs & Sandwiches</label>
                <div class="content">

                </div>
            </li>
        </ul>
    </div>
 
</ion-content>
      
