<ion-header>
        <img class="title-image" alt="logo"   src="../../assets/img/logo.png" > 
</ion-header>

<ion-content>
<div class="welcome-card">
    <ion-slides pager="true">
        <ion-slide>
          <ion-img width="80" height="80" src="../../assets/img/hamburger1.png"></ion-img>
        </ion-slide>
            
        <ion-slide>
          <ion-img width="80" height="80" src="../../assets/img/hotdog1.png"></ion-img>
        </ion-slide>
            
        <ion-slide>
          <ion-img width="80" height="80" src="../../assets/img/milkshake1.png"></ion-img>
        </ion-slide>
      </ion-slides>
</div>

<ion-card-header>
    <ion-card-subtitle>United We Eat</ion-card-subtitle>
    <ion-card-title>House of B</ion-card-title>
</ion-card-header>
  <div padding style="background: rgb(230,230,230);">
      <h5 >Calisma Saatleri</h5>
      <ion-item ><b>Pazar-Persembe: </b>&nbsp;11:00 | 23.00</ion-item>
      <ion-item><b>Cuma-Cumartesi: </b>&nbsp;11.00 | 00.00</ion-item>
  </div>
  <div>
    <ion-button expand="full" class="button" (click)="yemeksepeti()">
      Yemeksepeti Siparis
    </ion-button>
    <ion-button expand="full" class="button" (click)="tel()">
        Alo Siparis
    </ion-button>
  </div>
  <iframe 
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.2017671205194!2d29.00057961516464!3d41.042716579297284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x432f9a4bef6c6eb1!2sHouse+of+B!5e0!3m2!1str!2str!4v1546439319497" 
  width="100%" height="200" frameborder="0" style="border:0" allowfullscreen>
  </iframe>
<div>
  
</div>
<ion-grid>
  <ion-row align-items-center>
    <ion-col align-self-center style="text-align:center;">
        <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
    </ion-col>
    <ion-col align-self-center>
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
    </ion-col>
    <ion-col align-self-center>
        <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
