.welcome-card ion-img {
  width: 100%;
  max-height: 30vh;
  //max-height: 10vh;
  overflow: hidden;
  background: rgba(255,0,0,0.5);
}

ion-header {
  background : #8b0000  ;
  padding-top: 1vh ;
  height: 12vh; 
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 11vh;
}
ion-col{
  zoom:2.0;
  color:var(--ion-color-primary);
  text-align:center;
}